.header__logo{
    position: absolute;
    left: 48px;
    top:28px;
    
    
    
    @media screen and (max-width: 1280px) {
    
    }
    @media screen and (max-width: 1024px) {
        
    }
    @media screen and (min-width: 768px) {
        
    }

}