.welcom__title{
    font-size: 96px;
    /* height: 200px;
    width: 720px; */
    margin-left: 280px;
    margin-right: 280px;
    text-align: center;
    margin-top: 56px;
    @media screen and (max-width: 1280px) {
        margin-left: 152px;
        margin-right: 152px;
    
    }
    @media screen and (max-width: 1024px) {
        margin-left: 24px;
        margin-right: 24px;
    }
    @media screen and (max-width: 768px) {
        margin-left: 16px;
        margin-right: 16px;
        font-size: 40px;
        width: 288px;
        height: 88px;
        margin-top: 48px;
        
    }

}