.page{
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: rgb(48, 45, 45);
    color: white;
    min-width: 320px;
    margin: 0 auto;
    padding-top: 28px;
    
    
    @media screen and (max-width: 1280px) {
    
    }
    @media screen and (max-width: 1024px) {
        
    }
    @media screen and (max-width: 768px) {
        
    }
}

.grad{
    border: 1px solid red;
}
.link{
    margin-left: 48px;
    margin-right: 48px;
    display: flex;
    flex-direction: row;
   
    @media screen and (max-width: 1280px) {
    
    }
    @media screen and (max-width: 1024px) {
        
    }
    @media screen and (max-width: 768px) {
        
    }

}




.header__logo{
    left: 48px;
    top:28px;
    width: 172px;
    height: 52px;
    
    @media screen and (max-width: 1280px) {
    
    }
    @media screen and (max-width: 1024px) {
        
    }
    @media screen and (max-width: 768px) {
        width: 142px;
        height: 42px;
        
    }

}
.header__logo-pic{
    max-width: 100%;
    max-height: 100%
}


.header__links{
    display: flex;
    text-decoration: none;
    gap: 10px;
    margin-left: auto;
    align-items: center;

}

.header__link{
    display: flex;
    

}
.header__link-text{
    text-decoration: none;
    color: white;
    font-size: 24px;
    @media screen and (max-width: 1280px) {
    
    }
    @media screen and (max-width: 1024px) {
        
    }
    @media screen and (max-width: 768px) {
        font-size: 18px;
        
    }
}
.header__link-text:hover{
    text-decoration: underline;
    opacity: 70%;
    transition: opacity 0.2s ease;
}

.header{
    margin-left: 48px;
    margin-right: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between  ;
    width: 984px;
    height: 1005px;
    
}
.header__title{
    font-size: 96px;
    height: 200px;
    width: 720px;
    text-align: center;
    margin-top: 56px;
    @media screen and (max-width: 1280px) {
    
    }
    @media screen and (max-width: 1024px) {
        
    }
    @media screen and (max-width: 768px) {
        font-size: 40px;
        width: 288px;
        height: 88px;
        margin-top: 48px;
        
    }

}

.header__subtitle{
    height: 72px;
    width: 640px;
    font-size: 30px;
    text-align: center;
    margin-top: 32px;
    @media screen and (max-width: 1280px) {
    
    }
    @media screen and (max-width: 1024px) {
        
    }
    @media screen and (max-width: 768px) {
        font-size: 16px;
        width: 288px;
        height: 40px;
        margin-top: 16px;

        
    }
}


.header__image{
    margin-top: 60px;
    margin-bottom: 92px;
    width:  984px;
    height: 615px;
    @media screen and (max-width: 1280px) {
        width: 928px;
        height: 580px;
    
    }
    @media screen and (max-width: 1024px) {
        width: 768px;
        height: 480px;
        
    }
    @media screen and (max-width: 768px) {
        width: 320px;
        height: 200px;
        margin-top: 39px;
        
    }
}

.header__image-pic{
    max-width: 100%;
    max-height: 100%;
    
}
.header__image-text{
    font-size: 10px;

}

/* ----------------------------- */


.info{
    margin-left: 48px;
    margin-right: 48px;
    display: flex;
    flex-direction: column;

}

.info__title{
    font-size: 54px;

}

.info__subtitle{
    font-size: 16px;

}
.info__statistic{
    font-size: 12px;

}



