.page{
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: rgb(48, 45, 45);
    color: white;
    min-width: 320px;
    margin: 0 auto;
    padding-top: 28px;
    
    @media screen and (max-width: 1280px) {
    
    }
    @media screen and (max-width: 1024px) {
        
    }
    @media screen and (max-width: 768px) {
        
    }
}
.sgrad{
    border: 1px solid blue;
}

.grad{
    border: 1px solid red;
}
.header{
    margin-left: 48px;
    margin-right: 48px;
    display: flex;
    flex-direction: row;
   
    @media screen and (max-width: 1280px) {
    
    }
    @media screen and (max-width: 1024px) {
        margin-left: 24px;
        margin-right: 24px;
        
    }
    @media screen and (max-width: 768px) {
        margin-left: 16px;
        margin-right: 16px;
        
    }

}
.header__logo{
    left: 48px;
    top:28px;
    width: 172px;
    height: 52px;
    
    @media screen and (max-width: 1280px) {
    
    }
    @media screen and (max-width: 1024px) {
        
    }
    @media screen and (max-width: 768px) {
        width: 142px;
        height: 42px;
        
    }
}

.header__logo-pic{
    max-width: 100%;
    max-height: 100%
}


.header__links{
    display: flex;
    text-decoration: none;
    gap: 10px;
    margin-left: auto;
    align-items: center;

}

.header__link{
    display: flex;
}
.header__link-text{
    text-decoration: none;
    color: white;
    font-size: 24px;
    @media screen and (max-width: 1280px) {
    
    }
    @media screen and (max-width: 1024px) {
        
    }
    @media screen and (max-width: 768px) {
        font-size: 18px;
        
    }
}
.header__link-text:hover{
    text-decoration: underline;
    opacity: 70%;
    transition: opacity 0.2s ease;
}

/* ----------------------------- */

.welcome{
    margin-left: 148px;
    margin-right: 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 1280px) {
        margin-left: 48px;
        margin-right: 48px;
    
    }
    @media screen and (max-width: 1024px) {
        margin-left: 0;
        margin-right: 0;
        
    }
    @media screen and (max-width: 768px) {
        margin-left: 0;
        margin-right: 0;
        
    }
    
}
.welcom__title{
    font-size: 96px;
    height: 200px;
    width: 720px;
    text-align: center;
    margin-top: 56px;
    @media screen and (max-width: 1280px) {
    
    }
    @media screen and (max-width: 1024px) {
        
    }
    @media screen and (max-width: 768px) {
        font-size: 40px;
        width: 288px;
        height: 88px;
        margin-top: 48px;
        
    }

}

.welcome__subtitle{
    height: 72px;
    width: 640px;
    font-size: 30px;
    text-align: center;
    margin-top: 32px;
    @media screen and (max-width: 1280px) {
    
    }
    @media screen and (max-width: 1024px) {
        
    }
    @media screen and (max-width: 768px) {
        font-size: 16px;
        width: 288px;
        height: 40px;
        margin-top: 16px;

    }
}


.welcome__image{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1280px) {
        margin-left: 0;
        margin-right: 0;
    }
    @media screen and (max-width: 1024px) {
        margin-left: 0;
        margin-right: 0;
    
    }
    @media screen and (max-width: 768px) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 39px;
        
    }
}

.welcome__image-pic{
    max-width: 100%;
    max-height: 100%;
    
}
.welcome__image-text{
    font-size: 10px;

}

/* ----------------------------- */


.info{
    margin-top: 92px;
    margin-left: 148px;
    margin-right: 442px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1280px) {
        margin-left: 48px;
        margin-right: 284px;
    
    }
    @media screen and (max-width: 1024px) {
        margin-left: 24px;
        margin-right: 24px;
        
    }
    @media screen and (max-width: 768px) {
        margin-left: 16px;
        margin-right: 16px;
        
    }

}

.info__title{
    font-size: 54px;
    margin-bottom: 40px;
    @media screen and (max-width: 1280px) {
       
    }
    @media screen and (max-width: 1024px) {
        
    
    }
    @media screen and (max-width: 768px) {
        font-size: 32px;
    }

}

.info__subtitle{
    font-size: 16px;
    margin-bottom: 33px;
    @media screen and (max-width: 1280px) {
       
    }
    @media screen and (max-width: 1024px) {
        
    
    }
    @media screen and (max-width: 768px) {
        
    }

}
.info__statistic{
    font-size: 12px;
    @media screen and (max-width: 1280px) {
       
    }
    @media screen and (max-width: 1024px) {
        
    
    }
    @media screen and (max-width: 768px) {
        
    }

}

/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */



