.places__image {
    grid-area: image;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    @media screen and (max-width: 1280px) {
        
       
    }
    @media screen and (max-width: 1024px) {
        
    
    }
    @media screen and (max-width: 768px) {
        
        
    }
}