.places__container{
    display: grid;
    grid-template-areas:
        "title link"
        "image text";
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 80px;
    @media screen and (max-width: 1280px) {
        
       
    }
    @media screen and (max-width: 1024px) {
        
    
    }
    @media screen and (max-width: 768px) {
        grid-template-areas:
        "title"
        "link"
        "image"
        "text";
        grid-template-columns: 1fr;
        gap: 10px;
        
    }
    
}