.header__logo{
    left: 48px;
    top:28px;
    width: 172px;
    height: 52px;
    
    @media screen and (max-width: 1280px) {
    
    }
    @media screen and (max-width: 1024px) {
        
    }
    @media screen and (max-width: 768px) {
        width: 142px;
        height: 42px;
        
    }
}